<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         testdox="true">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="QUEUE_DRIVER" value="sync"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
  <!--<coverage includeUncoveredFiles="true"
            pathCoverage="false"
            ignoreDeprecatedCodeUnits="true"
            disableCodeCoverageIgnore="true">
    <report>
      <clover outputFile="clover.xml"/>
      <cobertura outputFile="cobertura.xml"/>
      <html outputDirectory="coverage" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>-->
</phpunit>
