name: "Publish coverage"
on:
  push:
    branches: [master, main]
    paths:
      - src/**
      - tests/**
      - phpunit.xml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  generate-coverage:
    name: "Generate coverage"
    uses: michaelbaril/shared/.github/workflows/run-tests.yml@main
    with:
      with-coverage: true
  publish-coverage:
    needs: generate-coverage
    uses: michaelbaril/shared/.github/workflows/publish-coverage.yml@main
