name: "Run tests"
on:
  push:
    branches:
      - master
      - main
      - test
    paths:
      - src/**
      - tests/**
      - phpunit.xml
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize
    branches:
      - master
      - main
    paths:
      - src/**
      - tests/**
      - phpunit.xml
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [8.4, 8.3, 8.2, 8.1, 8.0, 7.4, 7.3]
        laravel: [12.*, 11.*, 10.*, 9.*, 8.*]
        dependency-version: [prefer-lowest, prefer-stable]
        exclude:
          - laravel: 12.*
            php: 8.1
          - laravel: 12.*
            php: 8.0
          - laravel: 12.*
            php: 7.4
          - laravel: 12.*
            php: 7.3
          - laravel: 11.*
            php: 8.1
          - laravel: 11.*
            php: 8.0
          - laravel: 11.*
            php: 7.4
          - laravel: 11.*
            php: 7.3
          - laravel: 10.*
            php: 8.0
          - laravel: 10.*
            php: 7.4
          - laravel: 10.*
            php: 7.3
          - laravel: 9.*
            php: 8.4
          - laravel: 9.*
            php: 8.3
          - laravel: 9.*
            php: 8.2
            dependency-version: prefer-lowest
          - laravel: 9.*
            php: 7.4
          - laravel: 9.*
            php: 7.3
          - laravel: 8.*
            php: 8.4
          - laravel: 8.*
            php: 8.3
          - laravel: 8.*
            php: 8.2
            dependency-version: prefer-lowest
    name: "Tests: PHP ${{ matrix.php }} - Laravel ${{ matrix.laravel }} - ${{ matrix.dependency-version }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Start MySQL
        run: |
          sudo systemctl start mysql.service
          mysql -uroot -proot -e 'CREATE DATABASE test'
          mysql -uroot -proot -e "CREATE USER 'test'@'%' IDENTIFIED WITH mysql_native_password BY 'test'"
          mysql -uroot -proot -e "GRANT ALL PRIVILEGES ON test.* TO 'test'@'%'"
          mysql -uroot -proot -e "FLUSH PRIVILEGES"
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: curl, zip, mbstring, pdo, pdo_mysql
          coverage: none
      - name: Install dependencies
        run: |
          composer update --with laravel/framework:${{ matrix.laravel }} --${{ matrix.dependency-version }} --prefer-dist --no-interaction
      - name: Setup .env
        run: sed -i -E "s/^DB_HOST=.*$/DB_HOST=127.0.0.1/g" .env.test
      - name: Execute tests
        run: vendor/bin/phpunit