name: "Run Tests"

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [8.3, 8.2, 8.1, 8.0, 7.4, 7.3]
        laravel: [^10.0, ^9.46, ^8.79]
        dependency-version: [prefer-lowest, prefer-stable]
        include:
          - laravel: ^10.0
            testbench: ^8.0
          - laravel: ^9.46
            testbench: ^7.0
          - laravel: ^8.79
            testbench: ^6.23
        exclude:
            - laravel: ^10.0
              php: 8.0
            - laravel: ^10.0
              php: 7.4
            - laravel: ^10.0
              php: 7.3
            - laravel: ^9.46
              php: 7.4
            - laravel: ^9.46
              php: 7.3
            - laravel: ^8.79
              php: 8.2
            - laravel: ^8.79
              php: 8.3

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Start MySQL
        run: |
          sudo systemctl start mysql.service
          mysql -uroot -proot -e 'CREATE DATABASE sqlout'
          mysql -uroot -proot -e "CREATE USER 'lara'@'%' IDENTIFIED WITH mysql_native_password BY 'lara'"
          mysql -uroot -proot -e "GRANT ALL PRIVILEGES ON sqlout.* TO 'lara'@'%'"
          mysql -uroot -proot -e "FLUSH PRIVILEGES"

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: curl, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, iconv, pdo_mysql
          coverage: none

      - name: Install dependencies
        run: |
          composer require --no-interaction --no-update "illuminate/database:${{ matrix.laravel }}" "illuminate/support:${{ matrix.laravel }}"
          composer require --no-interaction --no-update --dev "orchestra/testbench:${{ matrix.testbench }}"
          composer update  --no-interaction --prefer-dist --${{ matrix.dependency-version }}

      - name: Setup .env
        run: |
          touch .env
          echo "DB_HOST=127.0.0.1"  >> .env
          echo "DB_PORT=3306"       >> .env
          echo "DB_DATABASE=sqlout" >> .env
          echo "DB_USERNAME=lara"   >> .env
          echo "DB_PASSWORD=lara"   >> .env

      - name: Execute tests
        run: vendor/bin/phpunit
